#dependencies

/node_modules
/.pnp
.pnp.js

#testing
/coverage

#production
/build

#misc
.DS_store
.env.local
.env.developmemt.local
.env.test.local
.env.production.local
.env.production

npm-debug.log*