.aboutTitle{
    font-weight: bold;
    text-align: left;
    padding-left: 5mm;
    font-size: 25px;
}

.aboutContent{
    font-size: 20px;
    text-align: left;
    padding-left: 8mm;
    padding-right: 8mm;
}