* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: white;
}
body::-webkit-scrollbar {
  display: 10px;
}
.displayFlex {
  display: flex;
  justify-content: center;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexThree {
  flex: 0 0 20%;
}
.pages {
  color: #1a0117;
  text-align: center;
  font-size: 2rem;
}
.desktopOnly {
  display: block;
}
.mobileOnly {
  display: none;
}
.tabOnly {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.displayFlex a {
  margin: 5% 5%;
}
