.cardBlog-container {
  box-sizing: border-box;
  border: 1px solid #1a0117;
  margin: 5% auto;
  font-size: 24px;
  max-width: 610px;
  color: black;
  text-align: left;
  background-color: #c8c8c8;
  overflow: hidden;
  
}

.imageBlog-container img {
  overflow: hidden;
  /* height: 250px; */
}
.cardBlog-content {
  margin: 1rem;
  margin-top: 0.5rem;
}
h3,
p {
  margin: 0;
  padding: 0;
}
.cardBlog-title {
  margin-bottom: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}
.cardBlog-title h4{
  font-family: 'Poppins', sans-serif !important;
}
.displayFlex button {
  padding: 0.5rem;
  background-color: inherit;
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.displayFlex button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-transform: scale(1.1);
}
.displayFlex button a {
  text-decoration: none;
  color: #e1e2e1;
  font-weight: bold;
  cursor: pointer;
}
.cardBlog-details {
  font-size: 14px;
  line-height: 22px;
  list-style: none;
  box-sizing: border-box;
  margin: 1rem 0;
  text-transform: capitalize;
  padding-left: 11px;
  padding-right: 11px;
  font-family: "Suez One", serif !important;
}
.cardBlog-details li{
  font-family: "Suez One", serif !important;
}
.cardBlog-details ul {
  list-style: none;
}
.cardBlog-details ul li {
  margin-bottom: 0.2rem;
}
.cardBlog-body {
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  max-height: 300px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif !important;
}
.far {
  margin-right: 0.5rem;
}
