.cardSlider-container {
  box-sizing: border-box;
  border: 1px solid #000;
  margin: 5% 2%;
  /* height: 696px; */
  font-size: 24px;
  width: 350px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  overflow: hidden;
  
}
.imageSlider-container {
  box-shadow: 0px 0px 15px -5px;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
 
}
.card-container:hover {
  box-shadow: 0px 0px 15px 0px;
  transform: scale(1.06);
}
.image-container img {
  overflow: hidden;
  height: 200px;
}
.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}
h3,
p {
  margin: 0;
  padding: 0;
}
.cardSlider-title {
  margin-bottom: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.displayFlex button {
  padding: 0.5rem;
  background-color: inherit;
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.displayFlex button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-transform: scale(1.1);
}
.displayFlex button a {
  text-decoration: none;
  color: #e1e2e1;
  font-weight: bold;
  cursor: pointer;
}
.card-details {
  font-size: 14px;
  line-height: 22px;
  list-style: none;
  box-sizing: border-box;
  margin: 1rem 0;
  text-transform: capitalize;
  padding-left: 11px;
  padding-right: 11px;
}
.card-details ul {
  list-style: none;
}
.card-details ul li {
  margin-bottom: 0.2rem;
}
.card-body {
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  max-height: 300px;
  overflow: hidden;
}
.far {
  margin-right: 0.5rem;
}
