.slider {
    position: relative;
    align-items: center;
}

.right-arrow, .left-arrow {
    position: absolute ;
    top: 50%;
    font-size: 1rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #fff;
}
.right-arrow {
    right: 20px;
}
.left-arrow {
    left: 20px;
}
.slide {
    display: contents;
    opacity: 0;
    transition-duration: 1s;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.1);
}
/*
.nav__dots{
    position: absolute;
    bottom: 30px;
    z-index: 9;
    display: flex;
    left: 50%;
    transform: translateX(-50%);

}

.dot{
    height: 10px;
    width: 10px;
    background-color: white;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.nav__dots.nth__current #dot1{
    background-color: blue;

}
.nav__dots.second__current #dot2{
    background-color: blue;

}
.nav__dots.third__current #dot3{
    background-color: blue;

}
.nav__dots.fourth__current #dot4{
    background-color: blue;

}
*/
