.feedbackContainer {
  width: 60%;
  margin: 2% auto 10% auto;
  border: 2px solid black;
  padding: 2%;
  font-size: 18px;
  border-radius: 5px;
}
.feedbackContainer,
#feedbackHeader,
.feedbackContents,
.commentBox,
.commentBox textarea,
.submitButton,
.feedbackSite,
.feedbackExperience,
.feedbackContent,
.feedbackSite .row,
.feedbackExperience .row,
.feedbackContent .row {
  box-sizing: border-box;
}
.feedbackStarBox {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
.feedbackSite .row,
.feedbackExperience .row,
.feedbackContent .row {
  padding-bottom: 10%;
}
.feedbackSite .column,
.feedbackExperience .column,
.feedbackContent .column {
  height: auto;
}
.feedbackStarBox .floatRight {
  text-align: center;
}
#feedbackHeader {
  padding: 3%;
  margin: 0.01em auto;
}
.feedbackContents {
  text-align: center;
  margin: 0.1em auto;
  padding: 4%;
}
.fontBold {
  font-weight: bold;
}
.commentBox {
  height: 140px;
  border: 2px solid #808080;
  margin: 5% auto;
}
.commentBox textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.submitButton {
  height: 33px;
  width: 124.9px;
  background-color: #2164e8;
  color: #fff;
  border: 1px solid #808080;
  margin: 2% auto 5% auto;
}
.commentBox textarea {
  border: none;
  background: inherit;
}
.commentBox textarea:focus {
  outline: none;
}
.submitButton button {
  color: #fff;
}
.starContainer .fas{
    font-size: inherit;
}
