.footer {
    background-color: #000000;
    color: #fff;
    margin-top: 1%;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
.footer .container {
    width: 99%;
    margin: 0 auto;
}
.footer .row {
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    max-width: 99%;
}
.footer .column {
    height: auto;
    width: auto;
}
.footer .details .column {
    width: auto;
}
.footer .details .column h3 {
    font-size: 16px;
}
.footer .details .column, .footer .social .column {
    margin-right: 1rem;
    text-align: center;
}
.footer .social .column {
    font-size: 1.5rem;
}
.footer li {
    font-size: 14px;
    line-height: 18px;
    opacity: 70%;
    list-style: none;
}
.terms {
    
    font-size: 12px;
}
.footer h2 {
    font-size: 2rem;
}
.footer h2, .footer h3 {
    text-transform: uppercase;
}
.nav-logo-footer {
    text-decoration: none;
    color: #fff;
}
.footer hr {
    border-color: #3f2c3d;
}