.container {
    width: 99%;
    margin: 0.5% auto;
}

.row {
    width: 100%;
}
img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
.column {
    height: 400px;
    width: 49.8%;
}
.column.first {
    width: 54.8%;
    float: left;
}
.column.second {
    width: 45%;
    float: right;
}
.column.second .row.end, .column.second .column {
    height: 199px;
    position: relative;
}
.column.second .row.end {
    top: 1.5px;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clear {
    clear: both;
}
.bordertop {
    border-top: 3px solid #e7e7e7;
    border-radius: 1px;
    margin: 2% auto;
    width: 75%;
}
.content {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 35px;
    left: 0.1%;
}
.icon-text {
    font-size: 80px;
}
.catogeriesContent{
    font-size: 20px;
    color: #6EC1E4;
    height: auto;
    
}
.catogeriesContent .column{
    height: auto;
}
.fas{
    font-size: 60px;
}
