@media only screen and (max-width: 600px) {
  .displayFlex.mobileGrid {
    display: grid;
  }
  .card-container {
    width: auto !important;
  }
  .card-body {
    font-size: 4.5vw;
  }
  .pages .desktopOnly {
    display: none;
  }
  .pages .mobileOnly {
    display: block;
  }
  .nav-logo {
    font-size: 1.2rem;
  }
  .articleTitle {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 20px;
  }
  .articleContent {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .information {
    font-size: 10px !important;
    color: rgb(66, 65, 65);
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
  }
  .articleImageContainer {
    box-sizing: border-box;
    border: 0.1px solid #1a0117;
    height: auto !important;
    width: auto;
  }
  .mobileBlock {
    display: block !important;
  }
  .padding1 {
    padding: 1%;
  }
  .fas {
    font-size: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    padding-bottom: 20mm;
  }
  .sectionTitle {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
  .pages .tabOnly {
    display: block;
  }
  .pages .desktopOnly {
    display: none;
  }
  .pages .mobileOnly {
    display: none;
  }
}
