@media only screen and (max-width: 600px) {
  .displayFlex.mobileGrid {
    display: grid;
  }
  .card-container,
  .cardslider-container,
  .cardBlog-container {
    width: auto !important;
  }
  .card-body {
    font-size: 4.5vw;
  }
  .pages .desktopOnly {
    display: none;
  }
  .pages .mobileOnly {
    display: block;
  }
  .nav-logo {
    font-size: 1.2rem;
  }
  .footer h2 {
    font-size: 1.8rem !important;
  }
  .articleTitle {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 20px;
  }
  .articleContent {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .information {
    font-size: 10px !important;
    color: rgb(66, 65, 65);
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
  }
  .articleImageContainer {
    box-sizing: border-box;
    border: 0.1px solid #1a0117;
    height: auto !important;
    width: auto;
  }
  .mobileBlock {
    display: block !important;
  }
  .padding1 {
    padding: 1%;
  }
  .fas {
    font-size: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    padding-bottom: 20mm;
  }
  .sectionTitle,
  .card-container,
  .cardBlog-container,
  .cardslider-container,
  .nav-bar,
  .footer .details .column h3 {
    font-size: 18px !important;
  }

  .feedbackContainer {
    width: 98% !important;
    margin: 25% auto !important;
  }
  #feedbackHeader {
    font-size: 16px !important;
  }
  .feedbackContents,
  .feedbackStarBox,
  .card-body,
  .cardSlider-body,
  .cardBlog-body {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .feedbackStarBox {
    width: 90% !important;
  }
  .catogeriesContent {
    font-size: 15px;
    color: #6ec1e4;
    height: auto;
  }
  .aboutTitle {
    font: size 20px;
  }

  .aboutContent {
    font-size: 15px;
  }
  .contactContent {
    font-size: 15px;
  }
  .cardBlog-details {
    font-size: 12px !important;
    line-height: 13px !important;
  }
  .bannerImage {
    width: 100%;
    height: auto !important;
  }
  .cardslider-container{
    font-size: 18px;
  }
  .articleVideo strong{
    padding-left: 8mm !important;
    font-size: 20px;
  }
  .videoContent{
    width: 95% !important;
  }

}
@media only screen and (max-width: 800px) and (min-width: 601px) {
  .pages .tabOnly {
    display: block;
  }
  .pages .desktopOnly {
    display: none;
  }
  .pages .mobileOnly {
    display: none;
  }
}
